<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Concepts Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=2">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home') }}" class="{% if active_page == 'home' %}active{% endif %}">About</a></li>
                <li><a href="{{ url_for('main.projects') }}" class="{% if active_page == 'projects' %}active{% endif %}">Publications</a></li>
                <li><a href="{{ url_for('main.contact') }}" class="{% if active_page == 'contact' %}active{% endif %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
